.rightbar {
  margin-left: 781px;
  background-color: black;
  width: 39vw;
  min-height: 120vh;
  position: absolute;
  top: 0px;
  border-left: 1px solid #717171b5;
}

.searchbar {
  border-radius: 25px;
  height: 45px;
  width: 77%;
  border: 0px;
  margin-left: 18px;
  padding-left: 61px;
  font-size: 18px;
  padding-bottom: 4px;
  margin-top: -8px;
  background-color: #5755558a;
  color: #aaa7a7;
}

.icon {
  position: absolute;
  top: 20px;
  font-size: 22px;
  color: #aaa7a7;
  margin-left: 40px;
}

.footer {
  color: white;
}
