.mainContainer{
  position: relative;
  background-color: black;
  width: 47%;
  margin-left: 180px;
  min-height: 1122px;
}

.h3Style{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: white;
  
}

.optionTab{
  height: 50px;
  border-bottom:1px solid #717171b5;
}